/* Import font from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-color: #EAEBED;
}

/*Just for checking div sizes*/
/*div{
    border-style: solid;
    border-width: 2px;
    border-color: maroon;
    clear: both;
}*/

div p{
    text-align: justify;
    text-justify: inter-word;
}

h1{
    text-align: center;
}

/* Navigation Bar */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: #EAEBED;
}

#name{
    margin-left: 10px;
    color: #006989;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #EAEBED;
    display: flex;
}

.nav-item{
    display: inline;
    float: left;
}

.nav-item a{
    display: block;
    color: #006989;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover{
    background-color: #006989;
    color: #EAEBED;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

/* Featured Photo and Introduction */
.featured{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #EAEBED;
}

.intro-text{
    align-items: center;
    margin: 0;
    width: 60%;
    text-align: center;
}

.featured-photo img{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

/* Previous Projects*/
.projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 1%;
    background-color: #EAEBED;  
}

.proj-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.proj-item:nth-child(1){
    background-color: #006989;
}

.proj-item:nth-child(2){
    background-color: #006989;
}

.proj-item:nth-child(3){
    background-color: #006989;
}

.proj-item:nth-child(4){
    background-color: #006989;
}

.proj-item p{
    color: white;
}

.proj-item h2{
    color: white;
}

/* Skills and Autobiography */

.skillbio{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 1%;
    background-color: #EAEBED;  
}

.skillbio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color:  #006989;
    border-radius: 20px;
}

.skillbio-item p{
    color: black;
}

.skillbio-item h2{
    color: black;
}

.skillbio-item li{
    color: black;
}

/* Footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    width: auto;
    background-color: #EAEBED;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #EAEBED;
}

.footer ul li{
    display: block;
}

.contact-list{
    align-items: center;
}

.footer-logo {
    margin-right: 50px;
}

.footer-logo img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}


